<h2>Корзина</h2>
<table class="table table-hover">
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Сумма</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price, :unit => "руб.", :delimiter => " ", :format => "%n %u", :precision => 2) %></td>
  </tr>
</table>
<%= button_to "Оформить заказ", new_order_path, method: :get, class: "button btn-sm btn-success" %>
<%= button_to 'Очистить корзину', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %>
