<div class="panel-heading">Корзина</div>

  <table class="table table-hover">
    <%= render(cart.line_items) %>

    <tr class="total_line">
      <td colspan="2">Сумма</td>
      <td class="total_cell"><%= number_to_currency(cart.total_price, :unit => "руб.", :delimiter => " ", :format => "%n %u", :precision => 2) %></td>
    </tr>
  </table>
  <div class="panel-footer">
  <ul class="list-inline">
    <li><%= button_to "Оформить", new_order_path, method: :get, class: "btn btn-success" %></li>
    <li><%= button_to 'Очистить', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></li>
  </ul>
</div>
