<% provide(:title, 'Главная') %>

<div class="row">
  <% @page_messegs.each do |page_messeg| %>
  <div class="col-xs-12 col-md-6">
    <div class="thumbnail">
      <%= image_tag(page_messeg.cover.medium.url, class: "img-responsive") if page_messeg.cover? %>
      <div class="caption caption-news">
        <h2><%= page_messeg.title %></h2>
        <p><%= strip_tags(page_messeg.description).truncate(200) %></p>
        <%= link_to 'Подробнее', page_messeg, class: "btn btn-warning btn-xs" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
