<div id="footer" class="row navbar-inverse">
  <div class="container">
    <div class="col-md-4">
      Dessing by GG0sha<br>
      e-mail: gg0sha@ya.ru
    </div>
    <div class="col-md-8">
      © 2015 При использовании материалов ссылка на сайт "Галант" обязательна<br>
      ООО "Галант": Системы видеонаблюдения, цифровые видеорегистраторы, внутренние и уличные камеры видеонаблюдения. Комплексные системы безопасности.<br>
      Тел: (987)654-32-10, email: galant@galant.gl 123456, Москва, ул. Уличная д.11
    </div>
  </div>
</div>
