    <!-- Footer -->
    <footer id="footer" class="navbar navbar-c navbar-inverse">
      <div class="container">
        <div class="col-xs-4 col-md-3">
          <h5>
            Dessing by GG0sha<br>
            e-mail: gg0sha@ya.ru
          </h5>
        </div>
        <div class="col-xs-8 col-md-9">
          <h5>
            © 2015 При использовании материалов ссылка на сайт "Галант" обязательна<br>
            ООО "Галант": Системы видеонаблюдения, цифровые видеорегистраторы, внутренние и уличные камеры видеонаблюдения. Комплексные системы безопасности.<br>
            Тел: 8(985)884-81-82, email: ooo.galant-security@yandex.ru<br>
          </h5>
          <% @search_engiens = SearchEngien.all %>
          <% @search_engiens.each do |se| %>
            <%= render  html: se.footer.html_safe %>
          <% end %>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
