    <!-- Footer -->
    <footer id="footer" class="navbar navbar-c navbar-inverse">
      <div class="container">
        <div class="col-xs-4 col-md-3">
          <h5>
            Dessing by GG0sha<br>
            e-mail: gg0sha@ya.ru
          </h5>
        </div>
        <div class="col-xs-8 col-md-9">
          <h5>
            © 2015 При использовании материалов ссылка на сайт "Галант" обязательна<br>
            ООО "Галант": Системы видеонаблюдения, цифровые видеорегистраторы, внутренние и уличные камеры видеонаблюдения. Комплексные системы безопасности.<br>
            Тел: (987)654-32-10, email: galant@galant.gl 123456, Москва, ул. Уличная д.11<br>
          </h5>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
